<div class="[[item.date_ordered == null && 'italic']]">

[[item.date_ordered | shortDate]]
[[item.test]]

<span ng-show="item.result && item.result != 'pending'" class="break-word">
  ([[item.result | microresult]])
</span>

<span ng-show="item.significant_organism">
  Significant Organism: [[ item.organism_details ]]
  <br />
  Susceptibility: [[ item.antimicrobial_susceptibility ]]
  <br />
</span>
<span ng-show="item.retrieved">
  Retrieved: [[ item.date_retrieved | shortDate ]]
  <br />
</span>
<span ng-show="item.biobanked">
  Biobanked: [X] ([[item.freezer_box_number]])
  <br />
</span>
ESBL: [[ item.esbl|boxed ]] <br />
Carbapenemase: [[ item.carbapenemase | boxed ]]

</div>
